{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<link rel="stylesheet" href="{% static 'css/style.css' %}">



<body>
<form action="" method="post" >
    {% csrf_token %}


<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 ">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">

           
            
                
              
            <h2 class="text-uppercase text-center mb-5">Create an account</h2>


            <table>
                <tr>
                    <td>
                        Username
                    </td>
                    <td>
                        <div class="form-outline mb-4">
                            
                            <label class="form-label" for="form3Example1cg">{{form.username}}</label>
                        </div>
                    </td>
                </tr>
           
                
                <tr>
                    <td>
                        Email
                    </td>
                    <td>
                        <div class="form-outline mb-4">
                            
                            <label class="form-label" for="form3Example3cg">{{form.email}}</label>
                        </div>
                    </td>
                </tr>
           

                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        <div class="form-outline mb-4">
                            
                            <label class="form-label" for="form3Example4cg">{{form.password1}}</label>
                        </div>
                    </td>
                </tr>
            
                <tr>
                    <td>
                        Confirm Password
                    </td>
                    <td>
                        <div class="form-outline mb-4">
                            
                            <label class="form-label" for="form3Example4cdg">{{form.password2}}</label>
                        </div>
                    </td>
                </tr>
            



            


            </table>

            <div class="d-flex justify-content-center">
                <button type="submit"
                class="btn btn-primary btn-block btn-lg text-body">Register</button>
            </div>

            <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/user/login"
                class="fw-bold text-body"><u>Login here</u></a></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</form>


</body>