{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <div class="container">
        <center><h2>Uploaded Images:</h2></center>   
        {% for image in images %}
            <div class="card">
                <img src="{{ image.image.url }}" alt="{{ image.prediction }}">
                <p>{{ image.prediction }}</p>
                <p>{{ image.created_at }}</p>
            </div>
        {% endfor %}

        <a href="{% url 'pdf' %}" class="button">Generate PDF</a>
        <a href="/uploading/" class="button">Upload New Photo</a>
    </div>
</body>
</html>
